name: Update Stats from Test Branch

on: 
  push:
      branches: 
      - main
      - test
  workflow_dispatch:

jobs:
  generate-stats:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: test

      - name: Generate stats
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          curl -s "https://github-readme-stats.vercel.app/api?username=vlad9710&count_private=true&token=$GH_TOKEN" > stats.svg
          echo "Статистика сохранена"

      - name: Upload results
        uses: actions/upload-artifact@v4  # ← Исправлено здесь!
        with:
          name: github-stats
          path: stats.svg
          retention-days: 3  # Автоудаление через 3 дня
